# Node.js dependencies
/node_modules/

# Logs
npm-debug.log
yarn-debug.log
yarn-error.log

# Environment variables
.env

# Operating System files
.DS_Store
Thumbs.db

# npm package-lock file
package-lock.json

# VSCode settings (if using VSCode)
.vscode/

# Debugger configurations
/.idea/

# Coverage folder from testing
/coverage/

# Build files
/dist/

# Temporary files
/temp/